<div class="p-3 text-center" style="background-color: rgb(222, 239, 255);">
    <a href="/" class="text-black text-decoration-none m-3" style="color: black;font-size: 20px;">Home</a>
    <a href="/applicants" class="text-black text-decoration-none m-3" style="color: black;font-size: 20px;">List Applicants</a>
    <a href="/interviewers" class="text-black text-decoration-none m-3" style="color: black;font-size: 20px;">List Interviewers</a>
    <div class="text-right inline">
        <a href="/logout" class="text-danger text-decoration-none m-3" style="color: black;font-size: 20px;">Logout</a>
    </div>
</div>