<%- include('partials/header', {title : 'Home Page'}) %> 
    <h1 class="text-center" style="margin-top: 150px; margin-bottom: 50px;">Welcome To H8-Company, Admin</h1>
    <div class="text-center bg-primary w-50 mb-5 rounded" style="margin:auto">
        <a href="/applicants" class="text-decoration-none text-white" style="font-size: 30px;">List Applicants</a>
    </div>
    <div class="text-center bg-info w-50 mb-5 rounded" style="margin:auto">
        <a href="/interviewers" class="text-decoration-none text-white" style="font-size: 30px;">List Interviewers</a>
    </div>
    <div class="text-center mt-5">
        <button class="btn btn-success mr-5">
            <a href="/login" class="text-decoration-none text-white" style="font-size: 20px;">Login</a>
        </button>
        <button class="btn btn-danger">
            <a href="/logout" class="text-decoration-none text-white" style="font-size: 20px;">Logout</a>
        </button>
    </div>
<%- include('partials/footer') %> 
