<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Interviewers</h1>
    <form method="POST">
        <label >First Name:</label><br>
        <input type="text" id="first_name" name="first_name" ><br>
        <label >Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" ><br>
        <label >Email:</label><br>
        <input type="text" id="email" name="email" ><br>

        
        <label for="birth_date">Birth date:</label>
        <input type="date" id="birth_date" name="birth_date"
               value="2000-07-22"
               min="1990-01-01" max="2018-12-31">
        <br>
        <br>

        <label >Department:</label><br>
        <input type="radio" id="Human Resources" name="department" value="Human Resources">
        <label >Human Resources</label><br>
        <input type="radio" id="Information Technology" name="department" value="Information Technology">
        <label >Information Technology</label><br>
        <input type="radio" id="Sales & Marketing" name="department" value="Sales & Marketing">
        <label >Sales & Marketing</label><br>
        <br>
        
        <label >Gender:</label><br>
        <input type="radio" id="male" name="gender" value="Male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="Female">
        <label for="female">Female</label><br>
        
        <input type="submit" value="Submit">
      </form> 
</body>
</html>