<%- include('partials/header', {title : 'Login Page'}) %> 
    <h1 class="text-center" style="margin-top: 100px; margin-bottom: 50px;">Admin Login</h1>
    <form method="POST" style="margin: auto;" class="w-50">
        <div class="form-group">
            <label>Username:</label>
            <input type="text" id="username" name="username" class="form-control">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <br>
    <% if (notAdmin)  { %> 
        <p style="margin: auto;" class="w-50 bg-danger text-white p-2 rounded text-center"><%= notAdmin %> </p>
    <% } %> 
<%- include('partials/footer') %> 
